# coding: utf-8


<%= form_for(@user)  do |f|			%>
	<h2>регистрация</h2>
	<table>
		<tr><td></td><td></td>	</tr>
	
	
		<tr>
			<td><%= f.label 'имя (фио или ник):'					%></td>
			<td><%= f.text_field :name				%></td>
		</tr>
		<tr>
			<td><%= f.label 'е-mail:'					%></td>
			<td><%= f.text_field :email				%></td>
		</tr>
		<tr>
			<td><%= f.label 'пароль:'					%></td>
			<td><%= f.password_field :password				%></td>
		</tr>
		<tr>
			<td><%= f.label 'еще раз пароль:'					%></td>
			<td><%= f.password_field :password_confirmation				%></td>
		</tr>
		<tr>
			<td></td>
			<td><%= f.submit 'создать'						%></td>
		</tr>
	</table>

<%	end								%>
