


<%= form_for :torrent, url:{action: :create} do |form| %> 

	
 

  <div> 
  	<%= form.label 'описание:'   %>
  	<%=  form.text_area( :description, :size =>"64x3") %>
  </div>
  	<br> 
    
  <div> 
  	<%= form.file_field :file, value: 'выбрать' %>  <%= form.submit 'сохранить' %> 
  	<%= 
  	#, accept: 'torrent/(*.torrent)'
  	%> 
  </div>
  <div class = 'notate'>
		размер файла должен быть в пределах 0,3...60кБ		
  </div>

<%  end  %>	



