<header>
    
    <%= print_status_sign %>
    <%=render 'layouts/links_in_header'%>

	<div><h2><%=  request.fullpath %> </h2></div>
	<div><h2><%=  request.method_symbol %> </h2></div>
	<div><h2><%=  request.method %> </h2></div>
	<div><h2><%=  request.request_method_symbol %> </h2></div>
	
    <div><h2><%= @title %> </h2></div>

</header>