<header>

     <%=  print_status %>
    <% if signed_in %>
    
        <nav class="round">
        	<ul><li><%= link_to "Создать сообщение", new_message_path %></li></ul>
        </nav>	
        

        <nav class="round">
        	<ul><li><%= link_to "Читать сообщения", messages_path %></li></ul>
        </nav>	

    <% else %>
    
        <nav class="round">
        	<ul><li><%= link_to "регистрация", new_user_path %></li></ul>
        </nav>
        <nav class="round">
            <ul><li><%= link_to "вход", '/home' %></li></ul>
        </nav>
    <% end %>

	<div><h2></h2></div>
    <div><h2><%= @title %> </h2></div>

</header>